name: CI

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pull-latest-release:
    runs-on: self-hosted
    
    env:
      REPO_PATH: /home/kali/repos/test-self-hosted-runners
      RELEASE_BRANCH_NAME: ${{ github.event.release.tag_name }}

    steps:
      - name: Update branch
        run: |
          echo "Workflow triggered checkout to branch: $RELEASE_BRANCH_NAME"
          cd "$REPO_PATH"
          git fetch --all --tags
          git checkout -B "$RELEASE_BRANCH_NAME" "origin/$RELEASE_BRANCH_NAME"
          git pull origin "$RELEASE_BRANCH_NAME"
          CURRENT_BRANCH=$(git branch | grep '*' | head -n 1)
          echo "Current branch: $CURRENT_BRANCH"
          
