name: CI

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  pull-latest-release:
    runs-on: self-hosted
    
    env:
      RELEASE_BRANCH_NAME: ${{ github.event.release.tag_name }}

    steps:
      # Checkout 
      - uses: actions/checkout@v4
        with:
          ref: 'refs/heads/${{ env.RELEASE_BRANCH_NAME }}'
          fetch-depth: 0
          
      # Verify
      - name: Verificar el Tag (Usando la variable de ambiente)
        run: |
          echo "Workflow triggered checkout to branch: $RELEASE_BRANCH_NAME"
          CURRENT_BRANCH=$(git branch | grep '*' | head -n 1)
          echo "Current branch: $CURRENT_BRANCH"
          
